<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>List categories - Flask</title>
</head>
<body style="padding:20px">
{% if cursor %}
 <table border="2px">
  <thead>
    <tr>
     <th>Nome Categoria</th>
    </tr>
  </thead>
  <tbody>
    {% for record in cursor %}
    <tr>
     <td>{{ record[0] }}</td>
     <td> 
      <form action="super_categorias/list_subcategorias" method="post">
      <p><input type="hidden" name="nome_sup_categoria" value="{{ record[0] }}"/></p>
      <p><input type="submit" value="Listar Subcategorias"/></p>
     </form>
     </td>
    </tr>
    {% endfor %}
  </tbody>
 </table>
 <tr>
  <button onclick="history.back()">Voltar</button>
 </tr>

{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>
</html>